@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


:root {
    --primary-green1: #487556;
    --primary-green2: #659173;
    --primary-green3: #85AC92;
    --primary-green4: #AAC8B3;
    --primary-green5: #BDD6C5;
    --secondary-pigment1: #4caf50;
    --secondary-pigment2: #68C06B;
    --secondary-pigment3: #89D08B;
    --secondary-pigment4: #ACDFAE;
    --secondary-pigment5: #D4EFD5;
    --secondary-yellow1: #8BC34A;
    --secondary-yellow2: #9ECE68;
    --secondary-yellow3: #B4DA89;
    --secondary-yellow4: #CCE7AD;
    --secondary-yellow5: #E5F3D5;
    --secondary-cinereous1: #A1887F;
    --secondary-cinereous2: #B49D95;
    --secondary-cinereous3: #C6B4AD;
    --secondary-cinereous4: #D9CCC7;
    --secondary-cinereous5: #ECE5E2;
    --secondary-paynegrey1: #263238;
    --secondary-paynegrey2: #677285;
    --secondary-paynegrey3: #8892A3;
    --secondary-paynegrey4: #ACB4C2;
    --secondary-paynegrey5: #D4D9E0;
    --text-grey: #98A2B3;
    /* --text-color: #333; */
}

html {
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.card {
    margin-bottom: 0.5rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    align-items: center;
    height: 140px;
    font-size: small;
    padding: 0;
}

.image-container {
    flex: 0.4;
    margin-right: 16px;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    font-size: smaller;
    max-height: 100%;
    overflow: hidden;
}


.class-see-details {
    height: 1.5rem;
    width: 100%;
    background: none;
    color: green;
    border: 1px solid green;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* HEADINGS */

.class-heading-4 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
}

.class-font-medium {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.class-listing-date {
    color: var(--text-grey);
    margin-bottom: 0.5rem;
}

.CurrentMarketsHeading {
    font-size: 24px;
    font-weight: 700;
}

.rating-container {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.modal-title {
    font-size: 32px;
    font-weight: 700;
}

#clearFiltersButton {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-green1);
}

.filter-category-heading,
.filter-date-heading,
.filter-distance-heading {
    font-size: 18px;
    font-weight: 600;
}

.category-label,
.date-label {
    font-size: 16px;
    font-weight: 600;
}


/* ************* Styling for filters *************** */
/* Add this CSS to your existing stylesheet or in a <style> tag */

/* Style for the modal container */
.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.modal-header,
.modal-body {
    margin: 0;
    padding: 12px;
}

/* Style for the modal content */
.modal-dialog {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Style for the modal content */
.modal-content {
    border-radius: 20px 20px 0 0;
    /* Border radius for the top two corners */
}


/* When the modal is open, bring it up to the screen */
.modal.show {
    transform: translateY(0);
}

/* Ensure that the modal backdrop sticks to the bottom */
.modal-backdrop {
    bottom: 0;
}

/* Ensure that the modal footer sticks to the bottom */
.modal-footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    /* Ensure the footer stays above the modal backdrop */
    background-color: #fff;
    /* Match your modal background color */
}

/* filter form styling */

.category-div input[type="checkbox"] {
    display: none;
}

/* Style the container for radio buttons */
.category-div {
    display: flex;
    flex-wrap: wrap;
}

/* Style individual radio button container */
.category-div .category-label {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid var(--primary-green1);
    border-radius: 25px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    justify-content: space-between;
    margin-right: 10px;
}

/* Style label within the radio button container */
.category-label {
    color: var(--primary-green1);
    line-height: 0;
    justify-content: space-between;
}

.category-svg {
    margin-left: 0.8rem;
}

/* styling for distance slider */

/* Style the entire range input */
input[type="range"] {
    height: 10px;
    border-radius: 10px;
    background: var(--primary-green1);
    padding-left: 1px;
    padding-right: 1px;
}

/* Styling for slider pin */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--primary-green1);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

/* Style the value indicator above the s;ider pin */
#sliderValue {
    color: var(--primary-green1);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Style the range labels */

.d-flex.justify-content-between span {
    font-size: 16px;
    font-weight: 600;
    color: #8B8B8B;

}

/* styling for date filter */

/* Style the radio buttons */
.date-div input[type="radio"] {
    display: none;
}

/* Style the container for radio buttons */
.date-div {
    display: flex;
    flex-wrap: wrap;
}

/* Style individual radio button container */
.date-div .date-label {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid var(--primary-green1);
    border-radius: 25px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    justify-content: space-between;
    margin-right: 10px;
}

/* Style label within the radio button container */
.date-label {
    color: var(--primary-green1);
    line-height: 0;
    justify-content: space-between;
}

.date-svg {
    margin-left: 0.8rem;
}

/* Style the filters heading label */

.filter-date-heading {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.filter-footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.filter-footer div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-filter-btn,
.apply-filter-btn {
    width: 100%;
    padding: 5px 1rem 5px 1rem;
    margin: 0 12px 0 12px;
    border: 1px solid var(--primary-green1);
    border-radius: 25px;

}

.cancel-filter-btn {
    background-color: white;
    color: var(--primary-green1);
}

.apply-filter-btn {
    background-color: var(--primary-green1);
    color: white;
}

/* FILTER COUNT */

.filter-count {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    visibility: visible;
}


.filter-btn {
    position: relative;
    display: inline-block;
}

.hide-count {
    visibility: hidden;
}


.CurrentMarketsHeading {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mysearch {
    height: 100%;
}

.search-icon img {
    height: 80%;
}

body {
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 5px;

}


.search-bar {
    width: 80%;
    max-width: 400px;
    margin-right: 10px;
    height: 50px;
}

.filter-btn {
    width: 20%;
    max-width: 50px;

}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.form-control {
    padding-left: 3.5rem;

}


.input-group .form-control.mysearch {
    border-radius: 50px !important;
}

div#showMaps.show-maps {
    height: 280px;
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

header {
    background-color: #ffffff;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container img {
    border-radius: 50%;
    width: auto;
    height: 40px;
    cursor: pointer;
    line-height: 0;
}

.logo-container img {
    max-width: 120px;
    width: auto;
    height: 60px;
    cursor: pointer;
    line-height: 0;
}

footer {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin-top: 1rem;
}


/* Style for desktop layout */

@media (min-width: 768px) {
    .container-wrapper {
        margin: 0;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 8rem;
        grid-template-areas: "myContainer container" "my-card-listing container";
    }

    .myContainer {
        grid-area: myContainer;
    }

    .container {
        /* grid-area: container; */
    }

    .my-card-listing {
        grid-area: my-card-listing;
    }


    div#showMaps.show-maps {
        height: 800px;
        width: 100%;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        margin-top: 0;
        margin-bottom: 1rem;
        border-radius: 10px;
    }

    div.search-container {
        padding-top: 2rem;
        padding-left: 2rem;
    }

    .mysearch {
        height: 2.5rem;
    }

    .search-icon img {
        height: 15px;
    }

    .search-icon {
        padding: 0 0 8px 6px;
    }

    .filter-btn img {
        width: auto;
    }

    .hello {
        margin-left: 2.5rem;
        margin-right: 1rem;
        padding: 0%;
    }

    #clearBtn,
    #searchBtn {
        margin: 0;
        border-radius: 25px;
        padding: 0;
        height: 2.5rem;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid var(--primary-green1);
    }

    #clearBtn {
        color: var(--primary-green1);
        background-color: white;
    }

    #searchBtn {
        color: white;
        background-color: var(--primary-green1);
    }

    /* filters */

    /* Style for the modal container */
    .modal {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease-out;
    }

    .modal-header,
    .modal-body {
        margin: 0;
        padding: 12px;
    }

    /* Style for the modal content */
    .modal-dialog {
        margin: auto;
        /* Center horizontally */
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* Style for the modal content */
    .modal-content {
        border-radius: 20px;
        width: 150%;
    }

    /* When the modal is open, bring it up to the screen */
    .modal.show {
        transform: translate(-10%, -10%)
    }

    /* Ensure that the modal backdrop sticks to the bottom */
    .modal-backdrop {
        bottom: auto;
    }

    /* Ensure that the modal footer sticks to the bottom */
    .modal-footer {
        position: sticky;
        bottom: 0;
        z-index: 1;
        background-color: #fff;
    }


    .category-div input[type="checkbox"] {
        display: none;
    }

    /* Style the container for radio buttons */
    .category-div {
        display: block;
    }

    /* Style individual radio button container */
    .category-div .category-label {
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid var(--primary-green1);
        border-radius: 25px;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        justify-content: space-between;
        margin-right: 10px;
    }

    /* Style label within the radio button container */
    .category-label {
        color: var(--primary-green1);
        line-height: 0;
        justify-content: space-between;
    }

    .category-svg {
        margin-left: 0.8rem;
    }

    .filter-footer {
        text-align: right;
        margin-bottom: 2rem;
        margin-left: auto;
        width: 70%;

    }

    .filter-footer div {
        display: inline-block;
        justify-content: space-around;
        align-items: center;
        margin-right: 2rem;

    }

    .cancel-filter-btn,
    .apply-filter-btn {
        width: 100%;
        height: 3rem;
        display: inline-block;
        padding: 5px 1rem;
        margin: 0 12px;
        border: 1px solid var(--primary-green1);
        border-radius: 25px;
    }

    .cancel-filter-btn {
        background-color: white;
        color: var(--primary-green1);
    }

    .apply-filter-btn {
        background-color: var(--primary-green1);
        color: white;
    }

    .modal-header {
        margin: 0;
        padding: 1rem 2rem 1rem 2rem;
    }

    .modal-body {
        margin: 0;
        padding: 0 2rem;
    }

}